{% extends 'home_baiboly.html' %}
{% block content_view %}
    <div class="content">
        
        <div class="tri">
            <label for="content-body">Mode de trie</label>
            <label for="content-body"><strong>{{titre}}</strong></label>
            <label for="content-body"><li>Mode d'affichage</li></label>
        </div>
        <div class="content-body">
            {% for content in contents %}
            {{content}}
            {% endfor %}
        </div>
        <div class="content-footer">
            <a href="{% url 'view_all_content' titre %} ">Sokafana manontolo</a>
        </div>
        
    </div>
{% endblock %}