{% extends 'home.html' %}
{% load static %}

<!-- css -->
{% block css %}
    <!-- <link rel="stylesheet" href="{% static 'assets/css/fihiranaResponsive.css' %}" />     -->
    <link rel="stylesheet" href="{% static 'assets/css/fihirana.css' %}" />
{% endblock %}
<!-- title -->
{% block title %} <title>Fihirana</title> {% endblock %}

<!-- head content -->
{% block head_content %}{% endblock %}

<!-- Content index -->
{% block content_index %}
<div class="contentFihirana">
    <div hidden  class="contentFihirana-header">
        <div class="contentFihirana-header-option">
            <button class="btn btn-primary"><a href="{% url 'fihirana_1_list' %}">FIHIRANA VOALOHANY</a></button>
            <button class="btn btn-primary"><a href="{% url 'fihirana_2_list' %}">FIHIRANA FAHAROA</a></button>
            <button class="btn btn-primary"><a href="{% url 'fihirana_ajout_list' %}">FIHIRANA FANAMPINY</a></button>
        </div>
        <button id="contentFihirana_header_btn"><i class="fa-solid fa-angle-right"></i></button>
    </div >
    <div class="contentFihirana-content">
        {% block content_fihirana %}
        
        {% endblock %}
    </div>
        
    </div>
{% endblock %}
<!-- content scripts -->
{% block scripts %}
<script src="{% static 'assets/javascripts/scriptfihirana.js' %}"></script>
{% endblock %}