<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: black;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 2%;
        }
        div.content{
            background-color: floralwhite;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    </style>
    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
    <div class="content">
        
        <div class="titre">titre</div>
        <div class="content-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis officiis repudiandae tenetur.
        </div>
        <br>
        <div class="content-footer">
            <a href="#"><button type="button">Valider</button></a>
            <a href="#"><button type="button">Annuler</button></a>
        </div>
    </div>
    
</body>
</html>