@charset "utf-8";
header{
    justify-content: center;
    align-items: center;
    display: flex;
}
.type {
    display: inline-flex;
    list-style: none;
    width: 100%;
    background: #444;
}
.type button{
    margin: 5px;
    width: 100%;
}
.content{
    margin-top: 5px;
}
.content-header{
    width: 100%;
    display: inline-flex;
    background: #888;
}
.tri{
    margin: 2px;
    display: flex;
    width: 100%;
    
}
.tri li{
    position: absolute;
    right: 2%;
    list-style: none;

}
.tri strong{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: 40%; */
    right: 47%;
    
}
.content-header button{
    margin: 5px;
    width: 100%;
}
.content-body{
    margin-top: 5px;
    padding: 10px;
    list-style: none;
    border: 1px solid black;
    
}
.boky-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap :5px;
}
.chapitre-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap :5px;
}
.verser-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap :5px;
}
.hiden{
    display: none;
}