{% extends 'fihirana_base.html' %}
{% block content_fihirana %}

    <div class="content-description" style="margin: 15px;">
        
    </div>

    <div class="tri">
        
        <label for="content-body"><strong>{{titre}}<a href="{% url 'fihirana_ajout_mod' id %}"> (Cliquer ici pour modifier)</a></strong></label>
        
    </div>
    <div class="content-body">
        <h4><strong>{{titre}}</strong></h4>
        {% for ctn in contents %}
    <div>
        {% for cttn in ctn %}
            <div>{{cttn}}</div>
        {% endfor %}        
    </div><br>
    {% endfor %}
        <ul>
            <label ><strong>( {{mpihira}} ) </strong></label>
        </ul>
    </div>
    <div class="content-footer">
        <button>Sokafana manontolo</button>
    </div>
{% endblock %}