@media screen and (max-width: 600px) {
    .content-body{
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
    
        /* height: 20vh; */
    }
    
    .content-body-header{
        display: flex;
    }
    .content-body-header div{
        display: none;
        background-color: #000;
    }
    .content-body-content{
        overflow-y: auto;
        height: 60vh;
        margin-top: 10px;
    }
    
}